*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* ================= SPLASH ================= */

.splash{
  position:fixed;
  width:100%;
  height:100vh;
  background:linear-gradient(135deg,#e19508,#ec5904);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:1000;
  transition:1s ease;
}

.splash.hide{
  opacity:0;
  visibility:hidden;
}

.splash h1{
  color:white;
  font-size:60px;
  letter-spacing:4px;
  animation:pop 1s ease;
}
.splash-logo{
  width:40%;
  max-width:400px;
  animation: pop 1s ease;
}


@keyframes pop{
  0%{ transform:scale(0);}
  100%{ transform:scale(1);}
}

/* ================= HERO ================= */

.hero{
  position:relative;
  height:100vh;
  width:100%;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
}

/* Your Man Image */
.hero img{
  position:absolute;
  width:100%;
  height:100%;
  object-position:center;
  animation:zoom 10s ease-in-out infinite alternate;
}

/* Overlay */
.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
}

/* Content */
.content{
  position:absolute;
  bottom:80px;
  text-align:center;
  color:white;
}

.content h2{
  font-size:60px;
}

.content button{
  margin-top:20px;
  padding:15px 40px;
  border:none;
  border-radius:50px;
  font-size:18px;
  cursor:pointer;
  background:linear-gradient(45deg,#ff512f,#f09819);
  color:white;
  transition:0.3s;
}

.content button:hover{
  transform:scale(1.1);
}

/* Floating toppings */
.topping{
  position:absolute;
  font-size:30px;
  animation:float 6s linear infinite;
}


.topping:nth-child(1){ left:10%; animation-delay:0s;}
.topping:nth-child(2){ left:30%; animation-delay:2s;}
.topping:nth-child(3){ left:60%; animation-delay:4s;}
.topping:nth-child(4){ left:80%; animation-delay:1s;}

@keyframes float{
  0%{ top:-10%; opacity:1;}
  100%{ top:110%; opacity:0;}
}

@keyframes zoom{
  from{ transform:scale(1);}
  to{ transform:scale(1.08);}
}

#register{
   position: fixed;   /* stays on top */
   top: 15px;         /* distance from top */
   right: 20px;       /* distance from right */
   color:antiquewhite;
   text-decoration: none;
   padding: 10px 15px;
   border-radius: 25px;
}